html.loading, html.loading body {
    height: 99.9%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
html.loading body > div {
    display: none;
}
#start-screen {
    border: 0 none;
    display: block !important;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000000;
    background: #ddd;
    background: rgba(0, 0, 0, 0.5);
}
html.loading #start-screen {
    background: #f0f0f0;
}
#start-screen-content {
    background: #db4b35;
    color: white;
    font-family: sans-serif;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    top: 20%;
    width: 100%;
}
#start-screen-welcome {
    margin: 2em 1em 1em;
    font-weight: bold;
}
#start-screen-loader {
    font-style: italic;
    line-height: 3em;
}
#progress-loader {
    display: block;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    background: white;
}
#templates {
    display: none;
}
html.loading.ui-mobile-rendering > * { visibility: visible !important; }
