div[data-role="popup"] > div.ui-bar {
    text-align: center;
}
p.ui-li-desc.repo-desc {
    white-space: normal;
}

.readme-container {
    overflow-x: auto;
}

p.ui-li-aside.fork {
    width: auto;
    padding: 0.2em 0.5em;
    text-align: center;
    margin-top: 1ex;
}
p.ui-li-aside.provider {
    width: auto;
    padding: 0.2em 0.5em;
    text-align: center;
    margin: -0.5em -10px 0 0;
}

a.mini-button.ui-btn.ui-mini {
    margin-left: 2px;
    margin-right: 1px;
}
a.mini-button.ui-btn.ui-mini .ui-btn-inner {
    padding: 0.1em 8px 0.2em;
}

#repository_home .ui-content .repo-main li {
    font-weight: normal;
}
#repository_home .ui-content .repo-main li > div:first-of-type strong:first-of-type {
    font-size: larger;
    border-bottom: dashed #333 1px;
    margin-right: 0.5ex;
}
#repository_home .ui-content .repo-main li > div + div {
    font-style: italic;
    text-align: right;
    margin-top: 1ex;
}

#account_home ul.account-main {
    margin-bottom: 0;
}
#account_home ul.account-main li {
    border-top-width: 0;
    border-bottom-width: 0;
}
#account_home ul.account-main li img.ui-li-thumb {
    left: 0;
}
#account_home ul.account-details {
    margin-top: -1px;
}
#account_home ul.account-details li {
    min-height: 18px;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    font-weight: normal;
}
#account_home ul.account-details span.ui-li-icon {
    max-height: 18px;
    max-width: 18px;
    top: 0.4em;
    opacity: 0.5;
}
#account_home ul.account-details li.ui-li-has-arrow span.ui-li-icon {
    top: 0;
}
#account_home ul.account-details li.ui-li-has-arrow a {
    padding-top: 0;
    padding-bottom: 0;
}
.repo-item-list .last-push {
    font-style: italic;
}
