div[data-role="popup"] > div.ui-bar {
    text-align: center;
}
p.ui-li-desc.repo-desc {
    white-space: normal;
}

.readme-container {
    overflow-x: auto;
}

p.ui-li-aside.fork {
    width: auto;
    padding: 0.2em 0.5em;
    text-align: center;
    margin-top: 1ex;
}
