/* base */

#templates {
    display: none !important;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    color: #444;
    background: #edeae1;
}

.ui-header {
    background: #db4b35;
    color: white;
    border-bottom: 3px solid #ab3927;
}

.ui-content {
    padding-top: 0;
    background: #edeae1;
}

.ui-content > p {
    margin-left: 2%;
    margin-right: 2%;
}

.ui-icon {
    background-color: #db4b35;
}
.ui-icon-checkbox-off,
.ui-icon-checkbox-on {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;    
}

.account-link, .repo-link {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}
.account-link {
    color: #266569;
}
.repo-link {
    color: #5c6e01;
}
.avatar-small {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.5ex;
    vertical-align: middle;
    border: none;
    position: relative;
    top: -2px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.avatar-small-after {
    margin-right: 0;
    margin-left: 0.5ex;
}
.ui-btn.ui-disabled {
    color: rgba(0, 0, 0, 0.2) !important;
    cursor: not-allowed;
}

.ui-hidden {
    display: none !important;
}


/* basic listview theme */
.ui-listview {
    background: white;
    border: solid 1px #ddd;
}
.ui-listview > .ui-li {
    border-bottom: solid 1px #ddd;
}
.ui-listview > .ui-li:last-child {
    border-bottom: none;
}
.ui-listview .ui-link-inherit {
    color: inherit;
    text-decoration: none;
}
.ui-li-aside.count {
    width: auto;
}


/* basic collapsible theme */
.ui-collapsible-heading {
    background: white;
    border: solid 1px #ddd;
}
.ui-collapsible-heading-toggle {
    color: inherit;
    text-decoration: none;
}
.ui-collapsible-content {
    background: white;
    border: solid 1px #ddd;
    border-top: none;
}


/* markdown simple style */
div.markdown p {
    margin: 0.5em 0;
}
div.markdown a {
    color: black;
}
div.markdown code {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    padding: 2px;
    margin: 0 2px;
    line-height: 2em;
}
div.markdown pre {
    background: #f8f8f8;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0.5em 0;
    padding: 1ex;
    overflow-x: auto;
}
div.markdown pre code {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 1.4em;
}
div.markdown blockquote {
    border-left: 4px solid #ccc;
    margin: 1em 0.5em 1em 2em;
    padding: 0 0 0 0.5em;
}
div.markdown ul {
    padding-left: 15px;
}
div.markdown li {
    overflow: inherit;
    list-style-type: disc;
}


/* cool flow of main elements */
.ui-content > .ui-navbar,
.ui-content > .ui-collapsible > .ui-collapsible-heading,
.ui-content > .ui-collapsible > .ui-collapsible-content {
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 -15px;
    max-width: none;
}
.ui-content > .ui-collapsible > .ui-collapsible-content {
    padding: 0;
}


/* main collapsibles */
.ui-content > .ui-collapsible > .ui-collapsible-heading {
    background: #ddd;
}
.ui-content > .ui-collapsible > .ui-collapsible-heading-collapsed {
    border-bottom: solid 2px #bab9b3;
}
.ui-content > .ui-collapsible > .ui-collapsible-heading .ui-icon {
    background-color: #bab9b3;
}


/* main lists */
.ui-content > .ui-listview {
    margin: 15px 2% 10px;
    border: none;
    background: transparent;
}
.ui-content > .ui-listview > .ui-btn,
.ui-content > .ui-listview > .ui-li-static {
    background: #fff;
    border: 1px solid #bab9b3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    margin: 0 0 15px;
    position: relative;
    padding: 0;
}
.ui-content > .ui-listview > .ui-li-divider {
    font-weight: normal;
    font-size: smaller;
    margin: 0 0 2px;
    padding: 0 0 0 2px;
    text-shadow: 1px 1px 1px white;
    border: none;
}


/* lists of evens */
.ui-content > .events-list > li .event-main {
    padding: 10px;
}
.ui-content > .events-list > li > .ui-li-aside {
    font-size: 75%;
    float: none;
    width: auto;
    position: absolute;
    top: -3px;
    right: 2px;
    color: #bbb;
}
.ui-content > .events-list > li > .ui-li-desc {
    background: #ddd;
    margin: 0.7em 0 0;
    padding: 8px 6px 6px;
    min-height: 1.5em;
    white-space: normal;
    color: #444;
    text-shadow: 1px 1px 1px white;
}
.ui-content > .events-list > .ui-li-divider {
    color: #777;
}

.ui-content > .events-list > li:not(.more-opened) > .ui-li-desc {
    -webkit-border-radius: 0 0 3px 3px;
       -moz-border-radius: 0 0 3px 3px;
        -ms-border-radius: 0 0 3px 3px;
         -o-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
}
.ui-content > .events-list > li .ui-li-link-alt {
    height: 24px;
    width: 24px;
    top: 16px;
    right: 2px;
}
.ui-content > .events-list > li .ui-li-link-alt .ui-btn {
    right: 0;
}
.ui-content > .events-list > .ui-li-has-alt .event-main {
    padding-right: 30px;
}

.ui-content > .events-list > li .account-link,
.ui-content > .events-list > li .repo-link {
    text-decoration: none;
    font-weight: bold;
}
.ui-content > .events-list > li .account-link:hover,
.ui-content > .events-list > li .repo-link:hover,
.ui-content > .events-list > li .account-link:focus,
.ui-content > .events-list > li .repo-link:focus {
    text-decoration: underline;
}

.ui-content > .events-list > li .main-link {
    font-size: larger;
    position: relative;
    top: 1px;
}

.ui-content > .events-list > li .fetch-desc-trigger,
.ui-content > .events-list > li .collapsible-trigger {
    border-bottom: 1px dashed;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1px;
}

/* "more" part of events */
.ui-content > .events-list > li .event-more {
    margin: 0;
    display: none;
    border:none;
}
.ui-content > .events-list > li .event-more.ui-collapsible {
    display: block;
    margin-top: -2px;
}
.ui-content > .events-list > li .event-more > h3 {
    display: none;
}
.ui-content > .events-list > li .event-more > div {
    padding: 0;
    margin-top: 5px;
    background: none repeat scroll 0 0 transparent;
    max-height: 1000px;
    overflow: hidden;
    display: block;
    border-width: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.2s ease 0s;
       -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
         -o-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}
.ui-content > .events-list > li .ui-collapsible .ui-collapsible-content-collapsed {
    margin-top: 1px;
    max-height: 1px;
}
.ui-content > .events-list > li .ui-collapsible > div > ul,
.ui-content > .events-list > li .ui-collapsible > div > p,
.ui-content > .events-list > li .ui-collapsible > div > div {
    margin: 1px 0 0 0;
    margin-top: 1px;
    font-size: smaller;
    border: none;
    background: transparent;
}
.ui-content > .events-list > li .ui-collapsible > div > div,
.ui-content > .events-list > li .ui-collapsible > div > p {
    padding: 0.5em 10px;
}

/* li in "more" parts, with extension (only a little part displayed */
.ui-content > .events-list li.with-extension > em {
    cursor: pointer;
}
.ui-content > .events-list li.with-extension > em .extension {
    display: none;
}
.ui-content > .events-list li.with-extension > em:after {
    content: " …";
    font-weight: bold;
}
.ui-content > .events-list li.with-extension.extended > em {
    cursor: default;
}
.ui-content > .events-list li.with-extension.extended > em .extension {
    display: inline;
}
.ui-content > .events-list li.with-extension.extended > em:after {
    display: none;
}



/* lists of repositories */

.ui-content > .repos-list > li,
.ui-content > .mixed-list > li.repo {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
.ui-content > .repos-list > li .repo-is-fork,
.ui-content > .mixed-list > li.repo .repo-is-fork {
    background: #db4b35;
    color: white;
    text-align: center;
    width: 70px;
    position: absolute;
    top: -8px;
    left: -25px;
    padding: 10px 2px 2px;
    margin: 0;
    font-weight: bold;
    float: none;
    -webkit-box-shadow: 1px 1px 2px rgba(219, 75, 53, 0.7);
       -moz-box-shadow: 1px 1px 2px rgba(219, 75, 53, 0.7);
        -ms-box-shadow: 1px 1px 2px rgba(219, 75, 53, 0.7);
         -o-box-shadow: 1px 1px 2px rgba(219, 75, 53, 0.7);
            box-shadow: 1px 1px 2px rgba(219, 75, 53, 0.7);
    -webkit-transform: rotate(-30deg);
       -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
         -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
}
.ui-content > .repos-list > li .repo-desc,
.ui-content > .mixed-list > li.repo .repo-desc {
    white-space: normal;
}
.ui-content > .repos-list > li .repo-last-push,
.ui-content > .mixed-list > li.repo .repo-last-push {
    font-style: italic;
    margin-top: 0.5em;
    color: #777;
}
.ui-content > .repos-list > .no-fork p.repo-is-fork,
.ui-content > .mixed-list > .repo.no-fork p.repo-is-fork {
    display: none;
}
.ui-content > .repos-list > .no-desc p.repo-desc,
.ui-content > .mixed-list > .repo.no-desc p.repo-desc {
    display: none;
}
.ui-content > .repos-list > .no-date p.repo-last-push,
.ui-content > .mixed-list > .repo.no-date p.repo-last-push {
    display: none;
}


/* lists of accounts */

.ui-content > .accounts-list > li,
.ui-content > .mixed-list > li.account {
    font-weight: bold;
    margin-bottom: 15px;
}
.ui-content > .accounts-list > .ui-btn,
.ui-content > .accounts-list > .ui-li-static,
.ui-content > .mixed-list > .account.ui-btn,
.ui-content > .mixed-list > .account.ui-li-static {
    height: 40px;
}
.ui-content > .accounts-list > li a.ui-link-inherit,
.ui-content > .mixed-list > li.account a.ui-link-inherit {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    max-height: 20px;
    min-height: 40px;
    padding-left: 60px;
    padding-top: 10px;
}
.ui-content > .accounts-list > li .ui-li-thumb,
.ui-content > .mixed-list > li.account .ui-li-thumb {
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
        -ms-border-radius: 3px 0 0 3px;
         -o-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
    left: 0;
    max-height: 40px;
    max-width: 40px;
}


/* forms */
form {
    text-align: center;
}
.fieldsets {
    margin: 0 5px 5px 0;
}
.fieldsets fieldset {
    display: inline-block;
    margin: 5px 5px 0 0 !important;
}
.ui-with-radio-legend .ui-controlgroup-controls .ui-checkbox:first-child,
.ui-with-radio-legend .ui-controlgroup-controls .ui-radio:first-child {
    opacity: 1;
    font-style: italic;
}
.ui-with-lot-of-radios .ui-radio .ui-mini .ui-btn-inner {
    padding-left: 5px;
    padding-right: 5px;
}
.ui-controlgroup-horizontal .ui-btn {
    background:  #99a838;
    color: white;
    font-weight: bold;
}
.ui-controlgroup-horizontal .ui-btn.ui-btn-active {
    background:  #79852c;
}
.ui-controlgroup-horizontal .ui-btn .ui-icon {
    background-color: #79852c;
}
fieldset.buttons {
    text-align: center;
    margin: 0;
    padding: 2px;
    border-bottom: solid 2px #bab9b3;
    background: #ddd;
    font-weight: bold;
}
fieldset.buttons .ui-btn {
    color: inherit;
    text-decoration: none;
}
div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text {
    border: solid 1px #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    padding: 0.4em 0.3em;
    background: white;
}
@media all and (min-width: 28em){
    /* fight against a jqm structure rule */
    .ui-hide-label input.ui-input-text, .ui-hide-label textarea.ui-input-text, .ui-hide-label .ui-input-search, .ui-hide-label div.ui-input-text, .ui-input-search input.ui-input-text, div.ui-input-text input.ui-input-text {
        width: auto;
    }
}


/* simple buttons */
.ui-content > .ui-btn {
    color: white;
    text-decoration: none;
    background: #99a838;
    border-bottom: solid 2px #79852c;
    font-weight: bold;
}
.ui-content > .ui-btn-inline {
    display: block;
    display: table;
    margin: 0 auto;
    width: auto;
    width: -moz-fit-content;
}
.ui-content > .ui-btn .ui-icon {
    background-color: #79852c;
}


/* popups */
.ui-popup-container > .ui-popup {
    background: white;
    border: 2px solid #bab9b3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
.ui-popup > .ui-bar {
    text-align: center;
    background: #db4b35;
    color: white;
    border-bottom: 3px solid #ab3927;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
        -ms-border-radius: 4px 4px 0 0;
         -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
    margin: -2px -2px 0;
}
.ui-popup > .ui-content {
    padding: 15px;
    background: white;
}
.ui-popup > .ui-content > fieldset.buttons {
    margin: 15px -15px -15px;
    border-bottom: none;
}
.ui-popup-screen.in {
    background: #eee;
}


/* all objects home have a main part */
.object-home-main {
    margin: 0 -15px;
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 2px solid #bab9b3;
}
.object-home-main > h3 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0;
}
.object-home-main > .provider {
    display: none;
/*
    background: none repeat scroll 0 0 white;
    color: #db4b35;
    font-weight: bold;
    padding: 14px 2px 2px;
    position: absolute;
    right: -22px;
    text-align: center;
    top: -16px;
    -webkit-transform: rotate(30deg) translate(12px, -1px);
       -moz-transform: rotate(30deg) translate(12px, -1px);
        -ms-transform: rotate(30deg) translate(12px, -1px);
         -o-transform: rotate(30deg) translate(12px, -1px);
            transform: rotate(30deg) translate(12px, -1px);
    width: 100px;
*/
}

/* the account home page */
.account-main {
    min-height: 70px;
    padding-left: 90px;
    position: relative;
}
.account-main > img {
    left: 0;
    position: absolute;
    top: 0;
    max-width: 80px;
}
.account-main > h3 > span {
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}
.account-main > .account-name {
    font-size: 0.9em;
    font-style: italic;
    line-height: 2.6em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px white;
    vertical-align: middle;
    white-space: nowrap;
}
.ui-content > div > .account-details {
    margin-top: -1px;
    margin-bottom: 0;
    border-bottom: 2px solid #bab9b3;
}
.account-details > .ui-li {
    min-height: 18px;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    font-weight: normal;
}
.account-details > .ui-li .ui-li-icon {
    max-height: 18px;
    max-width: 18px;
    top: 0.4em;
    opacity: 0.5;
}
.account-details > .ui-li-has-arrow .ui-btn-text > .ui-li-icon {
    top: 0;
}
.account-details > .ui-li-static,
.account-details > .failover,
.account-details > .ui-li-has-arrow .ui-btn-text a  {
    padding-left: 40px;
}
.account-details > .ui-li-has-arrow .ui-btn-text a  {
    padding-top: 0;
    padding-bottom: 0;
}
.account-details > .ui-li > .ui-btn-inner {
    font-size: 14px;
}
.ui-content > .account-orgs > .failover {
  line-height: 40px;
  padding-left: 60px;
  font-weight: normal;
}

/* the repository home page */
.repo-main {
    padding-bottom: 10px;
    position: relative;
}
.repo-owner-container {
    font-weight: normal;
    font-size: smaller;
}
.repo-main > h3 {
    margin-bottom: 10px;
}
.repo-main > .repo-fork {
    text-align: right;
    font-style: italic;
}
.repo-main > .repo-last-push {
    font-style: italic;
    color: #777;
    font-size: smaller;
    margin: 10px 0 0;
}
.repo-main + .ui-collapsible-set {
    margin-top: -1px;
}
.repo-readme {
    overflow-x: auto;
}
.repo-readme a {
    color: black;
}

/* navbar */
.ui-navbar .ui-btn-inline {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
         -o-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
}
.ui-navbar .ui-btn-active {
    background: #ab3927;
}
.ui-navbar .ui-btn-inline .ui-li-count {
    background: #ab3927;
    font-size: 11px;
    font-weight: bold;
    padding: 0.1em 0.45em 0 0.35em;
    margin-left: 1.2ex;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
        -ms-border-radius: 20px;
         -o-border-radius: 20px;
            border-radius: 20px;
}
.ui-navbar .ui-btn-active .ui-li-count {
    background: #db4b35;
}
.ui-navbar ul.extended.ui-grid-c > li:nth-child(n) {
    width: 30%;
}
.ui-navbar ul.extended.ui-grid-c > li:last-child {
    width: 10%;
}
.nav-menu .ui-li {
    font-size: 12.5px;
}

/* highlight right button when menu opened */
.ui-header > .ui-btn-right.popup-opened {
    background: #ab3927;
    -webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
         -o-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
}
.ui-header > .ui-btn-right.popup-opened .ui-icon {
    background-color: #ab3927;
}
/* no text on back button */
.ui-header > .ui-btn-left {
    height: 24px;
    width: 24px;
    top: 7px;
}
.ui-header > .ui-btn-left > .ui-btn-inner {
    height: 100%;
    padding: 0;
}
.ui-header > .ui-btn-left .ui-btn-text {
    left: -9999px;
    position: absolute;
}
.ui-header > .ui-btn-left .ui-icon {
    display: block;
    float: left;
    margin: 2px 1px 2px 3px;
    position: static;
    z-index: 0;
}
/* more room for the title */
.ui-header .ui-title, .ui-footer .ui-title {
    margin-left: 30px;
    margin-right: 30px;
}

/* menu */
.ui-popup-container > .main-nav-menu {
    background: #db4b35;
    color: white;
    border: 2px solid #ab3927;
    -webkit-border-radius: 2px 0 2px 2px;
       -moz-border-radius: 2px 0 2px 2px;
        -ms-border-radius: 2px 0 2px 2px;
         -o-border-radius: 2px 0 2px 2px;
            border-radius: 2px 0 2px 2px;
}
.ui-popup-container > .main-nav-menu > .ui-controlgroup {
    margin: 0;
}
.ui-popup-container > .main-nav-menu .ui-btn {
    background:  #db4b35;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}
.ui-popup-container > .main-nav-menu .ui-btn-inner {
    padding-left: 40px;
    min-width: 13ex;
}
.ui-popup-container > .main-nav-menu .ui-btn .ui-icon {
    background-color: #ab3927;
    left: 10px;
}
.go-button .provider {
    text-transform: capitalize;
}
div[id^=main_menu_][id$=-popup].ui-popup-container.ui-popup-active {
    /* force positioning man menu */
    top: 30px !important;
    right: 5px !important;
    left: auto !important;
    bottom: auto !important;
}
.main-nav-menu .last-common-menu {
    /*border-bottom: 2px solid #ab3927;    */
}
.main-nav-menu .ui-controlgroup-controls > .divider {
    color: rgba(255, 255, 255, 0.8);
    background: #ab3927;
    padding-left: 10px;
    font-style: italic;
    padding-bottom: 2px;
    padding-top: 2px;
}

/* more buttons */
.load-buttons .ui-btn {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    display: block;
    display: table;
    margin: 0 auto;
    width: auto;
    width: -moz-fit-content;
}


/* Favorites */
#home .ui-content > p {
    text-align: justify;
    font-style: italic;
    text-shadow: 1px 1px 1px white;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
         -o-hyphens: auto;
            hyphens: auto;
}
#home .ui-content .ui-li-divider {
    margin-bottom: 10px;
}
